<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p><%= para %> </p>

    <form action="/crit" method="post" enctype="multipart/form-data">
        <input type="text" name="para" value="<%= para %> " id="" hidden>
        <input type="file" name="audio" id="upload" />
        <button type="submit">Submit</button>
    </form>
</body>

</html>