@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
*
{
    margin: 0;
    padding: 0;
}
.rnavb
{
    position: fixed;
    top: 10px;
    right: 10px;
    color: #fff;
    background-color: #0E65F3;
    border: none;
    padding: 9px 12px;
    border-radius: 4px;
    z-index: 11111111111111;
    transition: 0.5s;
    display: none;
}
.rnavb:hover
{
    padding:9px 16px;
}
.lnavb
{
    position: fixed;
    top: 10px;
    left: 10px;
    color: #fff;
    background-color: #0E65F3;
    border: none;
    padding: 9px 12px;
    border-radius: 4px;
    z-index: 11111111111111;
    transition: 0.5s;
    display: none;
}
.lnavb:hover
{
    padding:9px 16px;
}


.l-nav
{
    position: fixed;
    width: 250px;
    height: 100vh;
    left: 0;
    top: 0;
    transform: translate(0,0);
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    transition: 400ms;
    background-color: #fff;
}
.l-nav .content
{
    margin-top: 30px;
    margin-left: 20px;
    font-weight: 600;
}
.l-nav .content .symbol
{
    font-size: 25px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.l-nav .content .symbol span
{
    padding: 7px 10px;
    background-color:#0E65F3 ;
    border-radius: 5px;
    color: #F2F5FA;
}
.l-nav .content .menu
{
    margin-top: 60px;
    width: 100%;
}
.l-nav .content .menu-head
{
    font-weight: 400;
    font-size: 16px;
}
.l-nav .content .menu ul
{
    margin-top: 30px;
    list-style: none;
    width: 100%;
}
.l-nav .content .menu ul li
{
    width: 100%;
    margin-top: 30px;
}
.l-nav .content .menu ul li a
{
    display: block;
    padding: 12px 0;
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: 400;
    width: 100%;
    opacity: 40%;
    transition: 300ms;
    background-color: #fff;
    
}
.l-nav .content .menu ul li a:hover,.active
{
    opacity: 100%;
    color: #fff;
    background-color: #0E65F3;
}
.l-nav .content .menu ul li a span
{
    display: flex;
    align-items: center;
    margin-left: 25px;
}
.l-nav .content .menu ul li a span img
{
    width: 20px;
    height: 20px;
    margin-right: 15px;
    filter: brightness(-100%);
}
.l-nav .content .menu ul li a:hover span img
{
    filter: brightness(400%);
}

.r-nav
{
    position: fixed;
    width: 325px;
    height: 100vh;
    right: 0;
    top: 0;
    transform: translate(0,0);
    font-family: 'Roboto', sans-serif;    
    overflow: hidden;
    transition: 400ms;
    background-color: #fff;
}

.r-nav .content
{
    margin: 35px 20px;
}

.r-nav .content .ranking
{
    width: 100%;
    background-color: #F2F5FA;
    display: grid;
    place-items: center;
    padding: 20px 0;
    gap: 5px;
}
.r-nav .content .ranking img
{
    width: 165px;
    height: auto;
}
.r-nav .content .ranking .text
{
    margin: 10px 0;
}
.r-nav .content .ranking .text .head
{
    font-weight: 700;
    font-size: 25px;
    color:#C72E34;
    margin-bottom: 25px;
    text-align: center;
}
.r-nav .content .ranking .text .grid
{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 0.01fr 1fr;
    grid-column-gap: 20px;
    width: 100%;
}

.mark
{
    background-color: black;
    width: 100%;
    height: 90%;
}

.r-nav .content .ranking .text .grid .pts,.r-nav .content .ranking .text .grid .rank
{
    text-align: center;
}

.r-nav .content .ranking .text .grid .num
{
    color: #C72E34;
    font-size: 22px;
}

.r-nav .content .ranking .text .grid .font
{
    font-size: 15px;
}

.r-nav .content .activity
{
    margin-top: 20px;
}
.r-nav .content .activity .head
{
    font-size: 16px;
    font-weight: 500;
}
.r-nav .content .activity .text
{
    font-size: 14px;
    color: #ACAFB3;
}
.r-nav .content .activity .points
{
    display: flex;
    align-items: center;
    float: right;
    gap: 5px;
    font-size: 13px;
    color: #ACAFB3;
}
.r-nav .content .activity .points img
{
    width: 12px;
    height: auto;
}

.dashboard
{
    margin-left: 250px;
    margin-right: 325px;
    background-color: #F2F5FA;
    padding: 0 30px 20px 30px;
    min-height: 100vh;
}
.dash-nav
{
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 25px 0; 
}
.dash-nav .left-part
{
    font-size: 25px;
    font-weight: 500;
    margin-left: 25px;
}
.dash-nav .right-part
{
    float: right;
    display: flex;
    align-items: center;
}
.dash-nav .right-part .search-div span
{
    position: absolute;
}
.dash-nav .right-part .search
{
    height: 25px;
    padding: 5px;
    width: 215px;
    border-radius: 5px;
    border: none;
    background-color: #F2F5FA;
}
.dash-nav .right-part .profile
{
    display: flex;
    align-items: center;
    margin-right: 25px;
    margin-left: 30px;
    font-weight: 500;
}

.dash-nav .right-part .profile img
{
    height: 30px;
    width: auto;
    margin-right: 10px;
}
.dash-graph
{
    width: 100%;
    height: 55vh;
    background-color: #fff;
    border-radius: 10px;
}
.wrapper
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.wrapper .content
{
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}
.wrapper .content .area
{
    margin: 25px;
    font-family: 'Roboto', sans-serif;
    height: auto;
}
.wrapper .content .area .heading
{
    font-size: 18px;
    font-weight: 700;
    color: rgb(182, 182, 182);
    margin-bottom: 25px;
}
.wrapper .content .area .text
{
    font-size: 15px;

}
.wrapper .content .area .button
{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    height: 100%;
    margin-top: 25px;
}
.wrapper .content .area .button button
{
    padding: 5px 7px;
    border: none;
    background-color: #F2F5FA;
}






/*--------------------------------------media query------------------------------------------*/




@media only screen and (max-width: 1200px)
{
    .dashboard
    {
        margin-right:0 ;
    }
    .r-nav
    {
        width: 0;
        box-shadow: -4px 0px 17px 3px rgba(0,0,0,0.2)
    }
    .rnavb
    {
        display: block;
    }
}
@media only screen and (max-width: 800px)
{
    .dashboard
    {
        margin-left:0 ;
    }
    .l-nav
    {
        width: 0;
        box-shadow: 4px 0px 17px 3px rgba(0,0,0,0.2)
    }
    .lnavb
    {
        display: block;
    }
    .wrapper
    {
        grid-template-columns: 1fr;
    }
    .dashboard
    {
        padding: 0 0px 20px 0px;
    }
}

@media only screen and (max-width: 600px)
{
    .dashboard .profile
    {
        width: 0;
        overflow: hidden;
        margin-left: 0;
        margin-right: 0;
    }
    .name
    {
        font-size: 0;
    }
    .dash-nav .right-part
    {
        margin-right: 5px;
    }
}

@media only screen and (max-width: 400px)
{
    .dash-nav .right-part .search
    {
        width: 175px;
    }

}

