/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F2F5FA;
}

section{
  padding: 50px 0;
}

.background {
  background-color: #0E65F3;
  height: 100vh;
  width: 100%;
  opacity: 80%;
}

.home .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

.home .content .title {
  text-align: center;
  color: #fff;
  font-size: 70px;
  margin-bottom: 50px;
  font-weight: 800;
}

.home .content a {
  background-color: #fff;
  color: black;
  padding: 15px 85px;
  font-size: 15px;
  text-decoration: none;
  font-weight: 400;
}

.home .socials {
  position: absolute;
  top: 35vh;
  margin-left: 50px;

}

.home .socials ul {
  list-style: none;
}

.home .socials ul::after {
  content: "";
  display: block;
  width: 1.5px;
  height: 150px;
  background-color: #fff;
  margin-left: 7px;
}

.home .socials a {
  color: #fff;
  text-decoration: none;
  writing-mode: tb-rl;
  text-orientation: mixed;
  margin: 20px 0;
  font-size: 14px;
  letter-spacing: 1px;
}

.heroimg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  transform: translate(-50%, -50%);
  height: auto;
  z-index: -1;
}

.stats {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;

  background-color: var(--light);
  background-image: radial-gradient(circle, #13004d 3%, transparent 1%), radial-gradient(circle, #13004d 3%, transparent 7%);
  background-size: 20px 20px;

}

.stats .text svg {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -2;
  left: 0;
}

.stats .text .stat {
  font-size: 40px;
  font-weight: 600;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.stats .text .stat .font {
  width: 45%;
}

.features {
  margin-bottom: 150px;
}

.features .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.features .wrapper .left-wrap {
  padding: 20px 120px;
}

.features .wrapper .head {
  font-size: 50px;
  font-weight: 600;
}

.features .wrapper .sub-head {
  font-size: 16px;
  font-weight: 300;
}

.swiper {
  width: 100%;
  height: 100%;
}

.height {
  height: 550px;
  margin-top: 50px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #0E65F3;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.15;
  z-index: 1;
}

.desc {
  padding: 0 10%;
  color: #fff;
  text-align: left;
  z-index: 2;
}

.desc-head {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 25px;
}

.desc-text {
  font-size: 16px;
  font-weight: 300;
}


.compatible {
  width: 100%;
  height: 750px;
  background-image: linear-gradient(rgba(14, 101, 243, 0.7), rgba(14, 101, 243, 0.7), url(resources/img/compatible.png));
}


.compatible img {
  overflow: hidden;
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
}

.compatible .content {
  display: grid;
  place-items: center;
  width: 100%;
  height: 750px;
}

.compatible .comp-desc {
  z-index: 11;
  width: 40%;

}

.compatible .comp-desc .comp-desc-head {
  z-index: 11;
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 25px;
}

.compatible .comp-desc .comp-desc-text {
  z-index: 11;
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  width: 70%;
}

.profile {
  height: 100vh;
  width: 100%;
}

.footer {
  background-color: #0E65F3;
  height: 200px;
  width: 100%;
  display: grid;
  place-items: center;
}

.footer .contain {

  color: #fff;
  text-align: center;
}

.footer .contain .title {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 30px;
}

.footer .contain .links a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
}