@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap');

*
{
  padding: 0;
  margin: 0;
}
.background
{
  background-color:#0E65F3 ;
  height: 100vh;
  width: 100%;
  opacity: 80%;
}
.home .content 
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}
.home .content .title
{
  text-align: center;
  color:#fff;
  font-size: 75px;
  margin-bottom: 50px;
  font-weight: 600;
}
.home .content a
{
  background-color: #fff;
  color: black;
  padding: 15px 85px;
  font-size: 15px;
  text-decoration: none;
  font-weight: 300;
}
.home .socials
{
  font-family: 'Source Sans Pro', sans-serif;
  position: absolute;
  top:45vh;
  margin-left:10px;
  
}
.home .socials ul
{
  list-style: none;
}
.home .socials ul::after
{
    content: "";
    display: block;
    width: 1.5px;
    height: 150px;
    background-color: #fff;
    margin-left:7px;
}
.home .socials a
{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  writing-mode: tb-rl;
  text-orientation: mixed;
  margin: 15px 0;
}
.heroimg
{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  transform: translate(-50%,-50%);
  height: auto;
  z-index: -1;
}
.stats 
{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  height: 100vh;
}
.stats .text svg
{
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -2;
  left: 0;
}
.stats .text .stat
{
  font-size: 45px;
  font-weight: 600;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.stats .text .stat .font
{
  width: 45%;
}
.features
{
  margin-bottom: 150px;
  font-family: 'Source Sans Pro', sans-serif;
}

.features .wrapper
{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.features .wrapper .left-wrap
{
  padding: 20px 100px;
}
.features .wrapper .head
{
  font-size: 50px;
  font-weight: 600;
}
.features .wrapper .sub-head
{
  font-size: 20px;
  font-weight: 300;
}

.swiper {
  width: 100%;
  height: 100%;
}
.height
{
  height: 550px;
  margin-top: 50px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #0E65F3;
  
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
  z-index: 1;
}
.desc
{
  padding: 0 10%;
  color: #fff;
  text-align: left;
  z-index: 2;
}
.desc-head
{
  font-size: 27px;
  font-weight: 600;
}
.desc-text
{
  font-size: 18px;
  font-weight: 300;
}


.compatible
{  width: 100%;
  height: 750px;
}
.compatible .color
{
  width: 100%;
  background-color: #0E65F3;
  height: 750px;
  z-index: 8;
  position: absolute;
  opacity: 0.7;

}
.compatible img
{
  overflow: hidden;
  position: absolute;
  display: block;
  width: 100%;
  height: 750px;
  object-fit: cover;
  z-index: 1;
}
.compatible .content
{
  font-family: 'Source Sans Pro', sans-serif;
  display: grid;
  place-items: center;
  width: 100%;
  height: 750px;
}
.compatible .comp-desc
{
  z-index: 11;
  width: 40%;

}
.compatible .comp-desc .comp-desc-head
{
  z-index: 11;
  color: #ffffff;
  font-size: 60px;
  font-weight: 600;
}
.compatible .comp-desc .comp-desc-text
{
  z-index: 11;
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  width: 70%;
}




.profile
{
  height: 100vh;
  width: 100%;
}



.footer
{
  background-color: #0E65F3;
  height: 200px;
  width: 100%;
  display: grid;
  place-items: center;
}
.footer .contain
{
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  text-align: center;
}
.footer .contain .title
{
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 30px;
}
.footer .contain .links a
{
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
}