@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F2F5FA;
}

section {
  padding: 50px 0;
}

.background {
  background-image: linear-gradient(rgba(14, 101, 243, 0.7), rgba(14, 101, 243, 0.7)), url(../img/hero_div_bg.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  opacity: 80%;
}

.glass {
  z-index: 2222;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  height: 80px;
  transition: all .5s ease;
}

.sticky {
  background-color: rgba(14, 101, 243, 0.1);
  backdrop-filter: blur(10px);
}

header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 222222222222;
}

header .logo {
  margin-left: 30px;
  font-size: 28px;
  font-weight: 600;
  color: #fff;
  z-index: 222222222222;
}

header ul {
  z-index: 222222222222;
}

header ul li {
  display: inline-block;
}

header ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 30px 15px;
  margin-left: 50px;
  border-top: 3px solid rgba(255, 255, 255, 0.0);
  transition: all 0.2s ease-in;
}

header ul li a:hover {
  border-top: 3px solid rgba(255, 255, 255, 1);
}

header ul li .sign {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  padding: 16px 65px 16px 35px;
  background-color: #F2F5FA;
  border: none;
  transition: all .2s ease;
}

header ul li .sign:hover {
  border: none;
  color: #fff;
  background-color: rgba(14, 101, 243, 0.7);
  backdrop-filter: blur(10px);
}

.nav-b {
  display: none;
}

.side-nav {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: left;
  display: grid;
  place-items: end;
  z-index: 0;
}

.side-nav ul {
  list-style: none;
  padding: 70px 0;
  height: calc(100vh-70px);
  background-color: rgba(14, 101, 243, 0.7);
  height: 100vh;
  opacity: 1;
  width: 0;
  overflow: hidden;
  z-index: 111111;
  transition: 300ms;
  backdrop-filter: blur(10px);

}

.side-nav ul li {
  margin: 50px 0;
}

.side-nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  transition: 300ms;
  color: #fff;
}

.side-nav ul li a:hover {
  padding-left: 10px;
}

.home {
  background-image: linear-gradient(rgba(14, 101, 243, 0.7), rgba(14, 101, 243, 0.7)), url(../img/hero_div_bg.png);
  background-size: 100%;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  padding: 0;
}

.home .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

.home .content .title {
  text-align: center;
  color: #fff;
  font-size: 70px;
  margin-bottom: 50px;
  font-weight: 800;
}

.home .content a {
  background-color: #fff;
  color: black;
  padding: 15px 85px;
  font-size: 15px;
  text-decoration: none;
  font-weight: 400;
  transition: all 0.2s ease;
}

.home .content a:hover {
  border: none;
  color: #fff;
  background-color: rgba(14, 101, 243, 0.7);
  backdrop-filter: blur(10px);
}

.home .socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin-left: 30px;
  width: 50px;

}

.bar {
  width: 2px;
  height: 150px;
  background-color: #fff;
}

.home .socials ul {
  list-style: none;
}

.home .socials a {
  color: #fff;
  text-decoration: none;
  writing-mode: tb-rl;
  text-orientation: mixed;
  margin: 20px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
  transition: all 0.2s ease-in-out;
}

.home .socials a:hover {
  transform: translateY(-5px);
}

.heroimg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  transform: translate(-50%, -50%);
  height: auto;
  z-index: -1;
}

.stats-section {
  padding: 0;
}

.stats {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;

  background-color: var(--light);
  background-image: radial-gradient(circle, #13004d 3%, transparent 1%), radial-gradient(circle, #13004d 3%, transparent 7%);
  background-size: 20px 20px;

}

.stats .text svg {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -2;
  left: 0;
}

.stats .text .stat {
  font-size: 40px;
  font-weight: 600;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.stats .text .stat .font {
  width: 45%;
}

.features {
  margin-bottom: 150px;
}

.features .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.features .wrapper .left-wrap {
  padding: 20px 120px;
}

.features .wrapper .head {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 30px;
}

.features .wrapper .sub-head {
  font-size: 16px;
  font-weight: 400;
}

.swiper {
  width: 100%;
  height: 100%;
}

.height {
  height: 550px;
  margin-top: 50px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #0E65F3;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.15;
  z-index: 1;
}

.desc {
  padding: 0 10%;
  color: #fff;
  text-align: left;
  z-index: 2;
}

.desc-head {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 25px;
}

.desc-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}


.compatible {
  width: 100%;
  height: 750px;
  background-image: linear-gradient(rgba(14, 101, 243, 0.7), rgba(14, 101, 243, 0.7)), url(../img/compatible.jpg);
}


.compatible img {
  overflow: hidden;
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
}

.compatible .content {
  display: grid;
  place-items: center;
  width: 100%;
  height: 750px;
}

.compatible .comp-desc {
  z-index: 11;
  width: 40%;

}

.compatible .comp-desc .comp-desc-head {
  z-index: 11;
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 25px;
}

.compatible .comp-desc .comp-desc-text {
  z-index: 11;
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  width: 70%;
}

.profile {
  height: 100vh;
  width: 100%;
}

.footer {
  background-color: #0E65F3;
  height: 200px;
  width: 100%;
  display: grid;
  place-items: center;
}

.footer .contain {

  color: #fff;
  text-align: center;
}

.footer .contain .title {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 30px;
}

.footer .contain .links a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
}