.leaderboards{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: white;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

.user .left-cnt {
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
}

.user .left-cnt img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 5px;
}

.user .right-cnt {
    display: flex;
    gap: 25px;
    align-items: center;
    padding: 15px 10px;
    background-color: #F2F5FA;
    border-radius: 5px;
}

.user .rank {
    font-size: 1.25rem;
}

.user .title {
    font-size: .9rem;
}

.user .score {
    font-weight: 600;
}

.user:first-of-type .rank,
.user:first-of-type .title,
.user:first-of-type .score {
    color: #C72E34;
}

.user:nth-of-type(2) .rank,
.user:nth-of-type(2) .title,
.user:nth-of-type(2) .score {
    color: #DFA140;
}

.user:nth-of-type(3) .rank,
.user:nth-of-type(3) .title,
.user:nth-of-type(3) .score {
    color: #0E65F3;
}


@media only screen and (max-width: 800px) {
    .leaderboards {
        padding: 0 10px;
    }
}

@media only screen and (max-width: 500px) {
    .user .left-cnt {
        font-size: 14px;
    }

    .user .left-cnt img {
        height: 35px;
        width: 35px;
    }
}